a:not([href]):not([tabindex]) {
    cursor: pointer;
}
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}
.header-brand{
    padding: 1.125rem 0 .625rem;
}
.vertical-line-nav{
    width: 1px;
    height: 34px;
    background-color: rgb(238, 238, 238);
}
.header-search-box{
    width: 216px;
}
.header-nav--main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.list-unstyled {
    margin-bottom: 0;
}
img, svg {
    vertical-align: middle;
}
.header-nav>li:not(.header-nav-item--button)>a {
    padding: 0.65rem 1.75rem;
    overflow: hidden;
    display: block;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #7b7b84;
    font-size: 25px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.active-home {
    border-bottom: 2px solid #7b7b84;
}