*, :after, :before {
    box-sizing: border-box;
}
.card {
    height: fit-content;
    background-color: #fff;
}
.card-user-profile {
    display: flex;
}
.head-cover {
    height: 15rem;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-top-right-radius: .25rem!important;
}
.head-avatar {
    width: 10.25rem;
    height: 10.25rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    margin: auto;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}
.avatar {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.avatar:hover {
    text-decoration: none;
}
.head-content {
    padding: 1.5rem 0 1rem;
    color: #1a1a1a;
}
.head-content .user-name {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 0;
    line-height: 1.2;
}
.head-nav {
    margin: 0 .75rem;
    border-top: 1px solid #f2f2f2;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.font-weight-semi-bold {
    font-weight: 600;
}
.mr-auto {
    margin-right: auto!important;
}
dl, ol, ul {
    margin-top: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.nav-link:hover{
    border-bottom: .1875rem solid #88b7af;
    background-color: #d8e5e5;
}
.head-nav .nav-link.active {
    border-bottom: .1875rem solid #26a69a;
}
.head-nav .nav-link {
    font-size: 1rem;
    color: #1a1a1a;
    padding: 1rem;
    max-height: 3.25rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.375rem;
    margin-left: -.375rem;
}
a:hover {
    text-decoration: none;
}
.user-profile-friend{
    position: absolute;
    top: 380px;
    background: none;
    width: 100%;
    max-width: 637px;
}
.box{
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(26,26,26,.05);
    padding: .75rem;
    background-color: #fff;
}
.web-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.web-titleh4 {
    font-size: 1rem;
    font-weight: 600;
}
.pending-request{
    position: relative;
}
.friend-button{
    margin: 0 15px;
    padding: .15rem .75rem;
    border-radius: 15px;
}
.friend-button span {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.rounded.bg-white.w100 .d-flex{
    margin-bottom: 10px;
}